:host {
  box-shadow: none;
}
:root{
  --black: #222034;
}
* {
  list-style: none;
}
@font-face {
    font-family: 'Gizmo-Regular';
    src: url(./fonts/Geist-Regular.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gizmo-Bold';
    src: url(./fonts/Geist-Bold.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Panchang-bold';
    src: url(./fonts/Panchang-Bold.otf) format('opentype');
    font-weight: bold;
}
*{
    font-family: 'Gizmo-Regular';
}
#list-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.md header-md header-collapse-none hydrated {
  box-shadow: none;
}
/* .ion-inherit-color {
  font-size: 16px;
} */
img {
  width: 100%;
}
item-card {
  width: 85%;
  margin: 0 auto;
  color: var(--black);
}
.logo-nav {
  padding: 0 5rem;
}
.toolbar-container {
  padding: 0 2rem;
}
ion-icon {
  font-size: 24px;
}
ion-searchbar {
  padding: 2rem 0;
}
.promotion-container {
  height: 10rem;
  display: flex;
  background-color: #04a339;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 2rem 1rem;
  border-radius: 15px;
}
.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none;
}
.discount-number{
    font-size: 6rem;
    font-family: 'Panchang-bold';
    text-align: center;
}
ion-card{
  box-shadow: none;
}
ion-card-subtitle{
  font-family: 'gizmo-bold';
  color: var(--black);
  font-size: 200px;
}
.ion-text-title{
  font-size: 16px;
}
.ion-text-subtitle{
  font-family: 'gizmo-bold';
  color: var(--black);
  font-size: 20px;
}
.categories-container{
  display: flex;
  overflow: auto;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
}
.categories-container li{
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
}
.categories-container .active{
  color: #122593;
  font-family: 'gizmo-bold';
  font-size: 18px;
}
.title-categories{
  font-family: 'gizmo-bold';
  font-size: 21px;
  margin-left: 1rem;
}
.icon-nav{
  padding: 0 0.5rem;
}
ion-card-subtitle{
  font-size: 16px
}